{% extends 'base.html'%}

{% block head %}
<title>TaskMaster</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Task Master!</h1>
    {% if tasks|length < 1 %}
    <h4>There are no tasks. Please insert one below!</h4>
    {% endif %}
    <table>       
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.date()}}</td>
                <td><a href="/update/{{task.id}}">Update</a></td>
                <br>
                <td><a href="/delete/{{task.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <form class="form" action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}