{% extends 'base.html'%}

{% block head %}
<title>TaskMaster</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Task</h1>

    <form class="form" action="/update/{{task.id}}" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}