{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumboard Demo</title>
    <link rel="stylesheet" type="text/css"
          href="{% static "scrumboard/css/scrumboard.css" %}">
</head>
<body ng-app="scrumboard.demo">
    {% verbatim %}
    <div ng-controller="ScrumboardController">
        <div class="list" ng-repeat="list in data">
            <h3>{{ list.name }}</h3>
            <ul>
                <li ng-repeat="card in list.cards">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>
          <div class="flex">
            <input type="text" ng-model="new_title" />
            <button ng-click="add(list, new_title)">+</button>
          </div>      
        </div>
    </div>
    {% endverbatim %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="{% static "scrumboard/scrumboard.js" %}"></script>
    <script src="{% static "scrumboard/card_directive.js" %}"></script>
    </script>
</body>
</html>