body {
    margin: 0;
    font-family: sans-serif;
    width: auto;
}

h1 {
    text-align: center;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

.content {
    width: 70%;
}